<h1 class = "cats-index">New User!</h1>

<form action= "<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Enter Username:</label>
  <input type="text" name="users[user_name]"><br>
  <label>Enter Password :</label>
  <input type="password" name="users[password]">
  <br>
  <input type="submit" value="CREATE">
</form>
